@use "sass:map";
@use "sass:list";

$radius: (
	round: 100000px,
	L: 30px,
	M: 20px,
	S: 10px,
);


@function radius($name: "S") {
	@if not map.has-key($radius, $name) {
		@error "Ключ `#{$name}` не найден. Доступные ключи: #{map.keys($viewport)}";
	}

	@return map.get($radius, $name);
}

// responsive
$max-width: 1440px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
$min-width: 360px;

// colors
$black: #181818;
$white: #F3F3F3;

$text-color: white;
$bg-color: black;
$decor-color: #222;